<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

***In this notebook, Data Science Tools and Ecosystem are summarized.***

__Objectives:__
- List popular languages for Data Science
- List Some of development environment open source tools
- List Some of the commonly used libraries which are used by data scientists

## Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. Scala
5. SQL

## Development Environment Open Source Tools
| Tool Name  |
-------------
| IBM Watson Studio |
| Jupyter Notebooks |
| RStudio |

## Some of the commonly used libraries used by Data Scientists include:
- ggplot
- Matplotlib
- Pandas
- Plotly

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
#### Addition
5+6

11

In [15]:
#### Subtraction
5-6

-1

In [16]:
### Multiplication
5*6

30

In [17]:
### Division
5/6

0.8333333333333334

In [28]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [27]:
### This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Author
Getaneh Workie